<header id="main-header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" routerLink="/home">
                        <img src="./../assets/img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-2">
                    <form class="main-header-search">
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-search input-icon"></i>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            <li class="top-user-area-avatar">
                                <a routerLink="/user">
                                    <img class="origin round" src="http://localhost:3000/{{img}}" alt="Image Alternative text" title="AMaze" />Hi,{{name}}</a>
                            </li>
                            <li><a routerLink="#">Sign Out</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="nav">
            <ul class="slimmenu" id="slimmenu">
                <li class="active"><a routerLink="/home">Home</a>
                </li>

                <li><a routerLink="/hotels">Hotels</a>
                </li>

                <li><a routerLink="/cars">Cars</a>

                </li>
                <li><a routerLink="/gallery">Gallery</a>
                </li>
                <li><a routerLink="">Activities</a>
                </li>
            </ul>

        </div>
    </div>

</header>