<!-- <div class="bg-img" style="background-image:url(../../assets/img/people_on_the_beach_1280x852.jpg);"></div> -->
<!-- <img class="pp-img" src="../assets/img/people_on_the_beach_1280x852.jpg" alt="Image Alternative text" title="Image Title" /> -->
<div class="container" class="bgimg">
        
    <h1 class="page-title">Login/Register on Traveler</h1>
</div>

<div class="gap"></div>


<div class="container">
    <div class="row" data-gutter="60">
        <div class="col-md-4">
            <h3>Welcome to Traveler</h3>
            <p>Ultricies vestibulum egestas ad cras mollis nam dictumst netus leo facilisis justo maecenas molestie ipsum felis mus cubilia hendrerit vestibulum accumsan consectetur convallis vitae nec sapien diam justo lobortis aenean</p>
            <p>Lobortis tristique interdum curae luctus mattis nisl aenean diam suscipit</p>
        </div>
        <ng-progress></ng-progress>
        <div class="col-md-4">
            <h3>Login</h3>
            <form  (ngSubmit)="onLogin(loginform)" #loginform="ngForm">
                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                    <!-- <label>Username or email</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" /> -->
                    <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                        <input matInput ngModel required email name="email_i" type="email" placeholder="Enter email" #email_i="ngModel">
                         <mat-error *ngIf="email_i.hasError('required')" >Enter Email</mat-error>
                         <mat-error *ngIf="email_i.hasError('email_i')" >Enter valid Email Address</mat-error>                    
                      </mat-form-field> <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
            
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <!-- <label>Password</label>
                    <input class="form-control" type="password" placeholder="my secret password" /> -->
                    <div class="col-xs-12"> <mat-form-field  class="example-full-width">
                        <input matInput ngModel required password name="pass" type="password" placeholder="Enter password" #pass="ngModel">
                         <mat-error *ngIf="pass.hasError('required')" >Enter Password</mat-error>
                      </mat-form-field><!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">--></div>
                </div>
                <input class="btn btn-primary" type="submit" [disabled]="!loginform.form.valid" value="Sign in" />
            </form>
        </div>
        <div class="col-md-4">
            <h3>New To Traveler?</h3>
            <form (ngSubmit)="onAdd(addform)" #addform="ngForm">
                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                    <!-- <label>Full Name</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" /> -->
                    <mat-form-field class="example-full-width">
                        <input matInput ngModel required email name="email_id" type="email" placeholder="Enter email" #email_id="ngModel">
                         <mat-error *ngIf="email_id.hasError('required')" >Enter Email</mat-error>
                         <mat-error *ngIf="email_id.hasError('email_id')" >Enter valid Email Address</mat-error>                    
                      </mat-form-field>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                    <!-- <label>Emai</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" /> -->
                    <mat-form-field class="example-full-width">
                        <input matInput ngModel required password name="password" maxlength="12" minlength="6" type="password" placeholder="Enter password" #password="ngModel">
                         <mat-error *ngIf="password.hasError('required')" >Enter Password</mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <!-- <label>Password</label>
                    <input class="form-control" type="password" placeholder="my secret password" /> -->
                    <mat-form-field class="example-full-width">
                        <input matInput ngModel required password  name="user_name" type="text" placeholder="Enter Name" #user_name="ngModel">
                         <mat-error *ngIf="user_name.hasError('required')" >Enter Name</mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <!-- <label>Password</label>
                    <input class="form-control" type="password" placeholder="my secret password" /> -->
                    <mat-form-field class="example-full-width">
                        <input matInput ngModel required password name="address" type="text" placeholder="Enter Address" #address="ngModel">
                         <mat-error *ngIf="address.hasError('required')" >Enter Address</mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                    <!-- <label>Full Name</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" /> -->
                    <mat-form-field class="example-full-width">
                        <input matInput ngModel [matDatepicker]="picker" placeholder="Choose a date" name="bod" #bod="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    <!-- <mat-error *ngIf="address.hasError('required')" >Enter Address</mat-error>-->
                  </mat-form-field>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                    <!-- <label>Emai</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" /> -->
                    <input type="file" id="inputpic" (change)="onFileSelected($event)" #input>
                    <div *ngFor="let file_src of file_srcs; let i = index">
                        <img [attr.src]='file_src' alt="" />
                    </div>
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <!-- <label>Password</label>
                    <input class="form-control" type="password" placeholder="my secret password" /> -->
                     <!-- <div class="col-xs-12"><input type="radio" [(ngModel)]="gender" id="gender" name="male" value="male"> Male
                        <input type="radio" name="female" [(ngModel)]="gender" id="gender" value="female"> Female<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password">-->
                        <!-- <mat-radio-group >
                            <mat-radio-button [(ngModel)]="gender"  name="gender1" value="male">Male</mat-radio-button>
                            <mat-radio-button [(ngModel)]="gender"  name="gender1" value="female">Female</mat-radio-button>
                          </mat-radio-group> -->
                          <!-- <div class="form-group">
                            <div class="col-xs-12"><input type="radio" [(ngModel)]="gender" id="gender" name="male" value="male"> Male
                                <input type="radio" name="female" [(ngModel)]="gender" id="gender" value="female"> Female<!--<input type="password" class="form-control" [(ngModel)]='password' required name="password" id="password"></div>
                        </div> -->
                        <mat-radio-group class="example-radio-group" #gender=ngModel ngModel name="gender" >
                            <mat-radio-button class="example-radio-button"  value="male">
                              Male
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="female">
                                Female
                              </mat-radio-button>
                          </mat-radio-group>
                
                </div>
                <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                    <!-- <label>Password</label>
                    <input class="form-control" type="password" placeholder="my secret password" /> -->
                    <mat-form-field class="example-full-width">
                        <input matInput ngModel required maxlength="10" minlength="10" number name="mobile" type="text" placeholder="Enter Mobile" #mobile="ngModel">
                         <mat-error *ngIf="mobile.hasError('required')" >Enter Mobile No</mat-error>
                         <mat-error *ngIf="mobile.hasError('mobile')" >Enter 10 Digit Number</mat-error>
                      </mat-form-field>
                </div>
                <input class="btn btn-primary" type="submit" [disabled]="!addform.form.valid" value="Sign up for Traveler" />
            </form>
        </div>
    </div>
</div>