<app-navbar></app-navbar>
<div class="gap"></div>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
            <h2 class="text-center">{{uname}}, your Booking was successful!</h2>
            <h5 class="text-center mb30">Booking details has been send to {{email}}</h5>
            <ul class="order-payment-list list mb30">
                <li>
                    <div class="row">
                        <div class="col-xs-9">
                           
                            <p><small>.</small>
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <p class="text-right"><span class="text-lg">.</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xs-9">
                           
                            <p><small>.</small>
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <p class="text-right"><span class="text-lg"></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="gap"></div>
</div>
<app-footer></app-footer>