<div class="col-md-4">
    <h3>Forgot Password</h3>
    <form (ngSubmit)=" onForgot(forgot)" #forgot="ngForm">
        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
            <!-- <label>Username or email</label>
          <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" /> -->
            <div class="col-xs-12">
                <mat-form-field class="example-full-width">
                    <input matInput ngModel required email name="email" type="email" placeholder="Enter email" #email="ngModel">
                    <mat-error *ngIf="email.hasError('required')">Enter Email</mat-error>
                    <mat-error *ngIf="email.hasError('email')">Enter valid Email Address</mat-error>
                </mat-form-field>
                <!--<input class="form-control" type="text" [(ngModel)]='email_id' required name="email_id" id="email_id">--></div>
            <ng-progress></ng-progress>
        </div>

        <input class="btn btn-primary" type="submit" [disabled]="!forgot.form.valid" value="Recover Password" />
    </form>
</div>