<app-navbar></app-navbar>
<div class="container">

    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        <h3>Search for Hotel</h3>
        <form>
            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-highlight"></i>
                <label>Where are you going?</label>
                <input class="typeahead form-control" placeholder="City, Airport, Point of Interest, Hotel Name or U.S. Zip Code" type="text" />
            </div>
            <ng-progress></ng-progress>
            <div class="input-daterange" data-date-format="M d, D">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                            <label>Check-in</label>
                            <input class="form-control" name="start" type="text" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                            <label>Check-out</label>
                            <input class="form-control" name="end" type="text" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-group-lg form-group-select-plus">
                            <label>Rooms</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                            <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary">
                                            <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                            <input type="radio" name="options" />3</label>
                                <label class="btn btn-primary">
                                            <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-group-lg form-group-select-plus">
                            <label>Gutests</label>
                            <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                <label class="btn btn-primary">
                                            <input type="radio" name="options" />1</label>
                                <label class="btn btn-primary active">
                                            <input type="radio" name="options" />2</label>
                                <label class="btn btn-primary">
                                            <input type="radio" name="options" />3</label>
                                <label class="btn btn-primary">
                                            <input type="radio" name="options" />3+</label>
                            </div>
                            <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Search for Hotels</button>
        </form>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">

            <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                <!-- <label>Password</label>
                <input class="form-control" type="password" placeholder="my secret password" /> -->
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="hotel_name" required name="hotel_name" type="text" placeholder="Hotel Search By City" #imagesrch="ngModel">
                    <mat-error *ngIf="imagesrch.hasError('hotel_name')">Enter Hotel Name</mat-error>
                </mat-form-field>
                <button class="btn btn-primary btn-lg" (click)="searchImages(hotel_name)">Search</button>
            </div>
            <ul class="booking-list">
                <li>
                    <a class="booking-item" href="#" *ngFor="let item of hotels">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img class="origin square" src="https://wishmytrip.herokuapp.com/images/hotel/{{item.hotel_img}}" alt="Image Alternative text" title="AMaze" height="100" width="100" />
                                    <!-- <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>12</div> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li>Rating

                                        </li>

                                    </ul><span class="booking-item-rating-number"><b >{{item.hotel_rating}}</b> of 5</span>
                                </div>
                                <h5 class="booking-item-title">{{item.hotel_name}}</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> {{item.hotel_address}}</p>
                                <!--<small class="booking-item-last-booked">Latest booking: 6 hours ago</small>-->
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from"></span><span class="booking-item-price"></span><span></span>
                            </div>
                        </div>
                    </a>
                </li>

                <!-- <li>
                    <a class="booking-item" href="#">
                        <div class="row" *ngFor="let item of hotels ">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_porto_bay_liberdade_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY LIBERDADE" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>27</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.1</b> of 5</span><small>(1286 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">{{item.hotel_name}]</h5>
                                <p class="booking-item-address">{{item.hotel_address}}<i class="fa fa-map-marker"></i> </p><small class="booking-item-last-booked">Latest booking: 2 hours ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$319</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_eden_mar_suite_800x600.jpg" alt="Image Alternative text" title="hotel EDEN MAR suite" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>9</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.6</b> of 5</span><small>(775 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Club Quarters Grand Central</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Jamaica, NY (Kennedy Airport (JFK))</p><small class="booking-item-last-booked">Latest booking: 51 minutes ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$161</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/lhotel_porto_bay_sao_paulo_luxury_suite_800x600.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO luxury suite" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>19</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.5</b> of 5</span><small>(673 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Wyndham Garden Chinatown</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Queens (LaGuardia Airport (LGA))</p><small class="booking-item-last-booked">Latest booking: 7 hours ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$199</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/the_pool_800x600.jpg" alt="Image Alternative text" title="The pool" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>10</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.4</b> of 5</span><small>(1008 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Grand Hyatt New York</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Queens (LaGuardia Airport (LGA))</p><small class="booking-item-last-booked">Latest booking: Just now</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$238</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_porto_bay_serra_golf_library_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>22</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.7</b> of 5</span><small>(534 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">The Benjamin</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY (Chelsea)</p><small class="booking-item-last-booked">Latest booking: 1 hour ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$431</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_porto_bay_rio_internacional_de_luxe_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL de luxe" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>25</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.6</b> of 5</span><small>(714 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">The London NYC</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Bronx (Bronx)</p><small class="booking-item-last-booked">Latest booking: Just now</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$488</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_porto_bay_serra_golf_living_room_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>25</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.2</b> of 5</span><small>(1330 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Waldorf Astoria New York</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Bronx (Bronx)</p><small class="booking-item-last-booked">Latest booking: Just now</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$299</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_the_cliff_bay_spa_suite_800x600.jpg" alt="Image Alternative text" title="hotel THE CLIFF BAY spa suite" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>13</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.7</b> of 5</span><small>(1175 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Wellington Hotel</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Brooklyn, NY (Brooklyn)</p><small class="booking-item-last-booked">Latest booking: Just now</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$183</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/lhotel_porto_bay_sao_paulo_lobby_800x600.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO lobby" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>20</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-o"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >3.6</b> of 5</span><small>(550 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">JFK Inn</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Flushing, NY (LaGuardia Airport (LGA))</p><small class="booking-item-last-booked">Latest booking: 52 minutes ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$184</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_porto_bay_serra_golf_suite2_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite2" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>29</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >5</b> of 5</span><small>(719 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Affinia Shelburne</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Brooklyn, NY (Brooklyn)</p><small class="booking-item-last-booked">Latest booking: Just now</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$222</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_1_800x600.jpg" alt="Image Alternative text" title="hotel 1" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>27</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.5</b> of 5</span><small>(750 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">InterContinental New York Barclay</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> New York, NY (Downtown - Wall Street)</p><small class="booking-item-last-booked">Latest booking: 57 minutes ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$316</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/hotel_porto_bay_serra_golf_suite_800x600.jpg" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF suite" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>11</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-half-empty"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4.2</b> of 5</span><small>(1418 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">The Kimberly Hotel</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> East Elmhurst, NY (LaGuardia Airport (LGA))</p><small class="booking-item-last-booked">Latest booking: 4 hours ago</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$309</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="booking-item" href="#">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="booking-item-img-wrap">
                                    <img src="./assets/img/lhotel_porto_bay_sao_paulo_suite_lhotel_living_room_800x600.jpg" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                    <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>6</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="booking-item-rating">
                                    <ul class="icon-group booking-item-rating-stars">
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star"></i>
                                        </li>
                                        <li><i class="fa fa-star-o"></i>
                                        </li>
                                    </ul><span class="booking-item-rating-number"><b >4</b> of 5</span><small>(265 reviews)</small>
                                </div>
                                <h5 class="booking-item-title">Bryant Park Hotel</h5>
                                <p class="booking-item-address"><i class="fa fa-map-marker"></i> Long Island City, NY (Long Island City - Astoria)</p><small class="booking-item-last-booked">Latest booking: Just now</small>
                            </div>
                            <div class="col-md-3"><span class="booking-item-price-from">from</span><span class="booking-item-price">$183</span><span>/night</span><span class="btn btn-primary">Book Now</span>
                            </div>
                        </div>
                    </a>
                </li> -->
            </ul>
            <div class="row" *ngFor="let item of hotels">

                <div class="col-md-6 text-right">

                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<app-footer></app-footer>