<app-navbar></app-navbar>
<!-- TOP AREA -->
        <!-- <div class="top-area show-onload">
          <div class="bg-holder full">
              <div class="bg-mask"></div>
              <div class="bg-img" style="background-image:url(./../assets/img/196_365_2048x1365.jpg);"></div>
              <video class="bg-video hidden-sm hidden-xs" preload="auto" autoplay="true" loop="loop" muted="muted" poster="img/video-bg.jpg">
                  <source src="media/loop.webm" type="video/webm" />
                  <source src="media/loop.mp4" type="video/mp4" />
              </video> -->
              <!-- <div class="bg-content">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-5 col-md-offset-7">
                              <!-- START TESTIMONIAL 
                              <div class="testimonial text-white mt50 hidden-sm hidden-xs">
                                  <div class="testimonial-inner">
                                      <blockquote>
                                          <p>Aliquet eget per venenatis dis non mus ut rhoncus ullamcorper posuere malesuada sociosqu habitasse vitae</p>
                                      </blockquote>
                                  </div>
                                  <div class="testimonial-author">
                                      <img src="img/gamer_chick_50x50.jpg" alt="Image Alternative text" title="Gamer Chick" />
                                      <p class="testimonial-author-name">Oliver Ross</p><cite>on <a class="text-udl" href="#">The Benjamin</a> hotel in New York</cite>
                                  </div>
                              </div>
                              <!-- END TESTIMONIAL 
                          </div>
                      </div>
                  </div>
              </div>
              <div class="bg-front full-height bg-front-mob-rel" >
                  <div class="container rel full-height">
                      <div class="search-tabs search-tabs-bg search-tabs-bottom">
                          <div class="tabbable">
                              <ul class="nav nav-tabs" id="myTab">
                                  <li class="active"><a href="#tab-3" data-toggle="tab"><i class="fa fa-car"></i> <span >Cars</span></a>
                                  </li>
                                  <!-- <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-plane"></i> <span >Flights</span></a>
                                  </li>
                                  <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-home"></i> <span >Rentals</span></a>
                                  </li>
                                  <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span >Cars</span></a>
                                  </li>
                                  <li><a href="#tab-5" data-toggle="tab"><i class="fa fa-bolt"></i> <span >Activities</span></a>
                                  </li> 
                              </ul>
                              <div class="tab-content">
                                  <!-- <div class="tab-pane fade in active" id="tab-1">
                                      <h2>Search and Save on Hotels</h2>
                                      <form>
                                          <div class="row">
                                              <div class="col-md-4">
                                                  <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                      <label>Where are you going?</label>
                                                      <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                                                  </div>
                                              </div>
                                              <div class="col-md-8">
                                                  <div class="input-daterange" data-date-format="M d, D">
                                                      <div class="row">
                                                          <div class="col-md-3">
                                                              <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                  <label>Check-in</label>
                                                                  <input class="form-control" name="start" type="text" />
                                                              </div>
                                                          </div>
                                                          <div class="col-md-3">
                                                              <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                  <label>Check-out</label>
                                                                  <input class="form-control" name="end" type="text" />
                                                              </div>
                                                          </div>
                                                          <div class="col-md-3">
                                                              <div class="form-group form-group-lg form-group-select-plus">
                                                                  <label>Rooms</label>
                                                                  <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                      <label class="btn btn-primary active">
                                                                          <input type="radio" name="options" />1</label>
                                                                      <label class="btn btn-primary">
                                                                          <input type="radio" name="options" />2</label>
                                                                      <label class="btn btn-primary">
                                                                          <input type="radio" name="options" />3</label>
                                                                      <label class="btn btn-primary">
                                                                          <input type="radio" name="options" />3+</label>
                                                                  </div>
                                                                  <select class="form-control hidden">
                                                                      <option>1</option>
                                                                      <option>2</option>
                                                                      <option>3</option>
                                                                      <option selected="selected">4</option>
                                                                      <option>5</option>
                                                                      <option>6</option>
                                                                      <option>7</option>
                                                                      <option>8</option>
                                                                      <option>9</option>
                                                                      <option>10</option>
                                                                      <option>11</option>
                                                                      <option>12</option>
                                                                      <option>13</option>
                                                                      <option>14</option>
                                                                  </select>
                                                              </div>
                                                          </div>
                                                          <div class="col-md-3">
                                                              <div class="form-group form-group-lg form-group-select-plus">
                                                                  <label>Guests</label>
                                                                  <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                      <label class="btn btn-primary active">
                                                                          <input type="radio" name="options" />1</label>
                                                                      <label class="btn btn-primary">
                                                                          <input type="radio" name="options" />2</label>
                                                                      <label class="btn btn-primary">
                                                                          <input type="radio" name="options" />3</label>
                                                                      <label class="btn btn-primary">
                                                                          <input type="radio" name="options" />3+</label>
                                                                  </div>
                                                                  <select class="form-control hidden">
                                                                      <option>1</option>
                                                                      <option>2</option>
                                                                      <option>3</option>
                                                                      <option selected="selected">4</option>
                                                                      <option>5</option>
                                                                      <option>6</option>
                                                                      <option>7</option>
                                                                      <option>8</option>
                                                                      <option>9</option>
                                                                      <option>10</option>
                                                                      <option>11</option>
                                                                      <option>12</option>
                                                                      <option>13</option>
                                                                      <option>14</option>
                                                                  </select>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <button class="btn btn-primary btn-lg" type="submit">Search for Hotels</button>
                                      </form>
                                  </div> -->
                                  <!-- <div class="tab-pane fade" id="tab-2">
                                      <h2>Search for Cheap Flights</h2>
                                      <form>
                                          <div class="tabbable">
                                              <ul class="nav nav-pills nav-sm nav-no-br mb10" id="flightChooseTab">
                                                  <li class="active"><a href="#flight-search-1" data-toggle="tab">Round Trip</a>
                                                  </li>
                                                  <li><a href="#flight-search-2" data-toggle="tab">One Way</a>
                                                  </li>
                                              </ul>
                                              <div class="tab-content">
                                                  <div class="tab-pane fade in active" id="flight-search-1">
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <div class="row">
                                                                  <div class="col-md-6">
                                                                      <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                          <label>From</label>
                                                                          <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                      <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                          <label>To</label>
                                                                          <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <div class="input-daterange" data-date-format="M d, D">
                                                                  <div class="row">
                                                                      <div class="col-md-4">
                                                                          <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                              <label>Departing</label>
                                                                              <input class="form-control" name="start" type="text" />
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                          <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                              <label>Returning</label>
                                                                              <input class="form-control" name="end" type="text" />
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                          <div class="form-group form-group-lg form-group-select-plus">
                                                                              <label>Passngers</label>
                                                                              <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                                  <label class="btn btn-primary active">
                                                                                      <input type="radio" name="options" />1</label>
                                                                                  <label class="btn btn-primary">
                                                                                      <input type="radio" name="options" />2</label>
                                                                                  <label class="btn btn-primary">
                                                                                      <input type="radio" name="options" />3</label>
                                                                                  <label class="btn btn-primary">
                                                                                      <input type="radio" name="options" />3+</label>
                                                                              </div>
                                                                              <select class="form-control hidden">
                                                                                  <option>1</option>
                                                                                  <option>2</option>
                                                                                  <option>3</option>
                                                                                  <option selected="selected">4</option>
                                                                                  <option>5</option>
                                                                                  <option>6</option>
                                                                                  <option>7</option>
                                                                                  <option>8</option>
                                                                                  <option>9</option>
                                                                                  <option>10</option>
                                                                                  <option>11</option>
                                                                                  <option>12</option>
                                                                                  <option>13</option>
                                                                                  <option>14</option>
                                                                              </select>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="tab-pane fade" id="flight-search-2">
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <div class="row">
                                                                  <div class="col-md-6">
                                                                      <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                          <label>From</label>
                                                                          <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-md-6">
                                                                      <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                                          <label>To</label>
                                                                          <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <div class="input-daterange" data-date-format="M d, D">
                                                                  <div class="row">
                                                                      <div class="col-md-4">
                                                                          <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                              <label>Departing</label>
                                                                              <input class="date-pick form-control" data-date-format="M d, D" type="text" />
                                                                          </div>
                                                                      </div>
                                                                      <div class="col-md-4">
                                                                          <div class="form-group form-group-lg form-group-select-plus">
                                                                              <label>Passngers</label>
                                                                              <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                                  <label class="btn btn-primary active">
                                                                                      <input type="radio" name="options" />1</label>
                                                                                  <label class="btn btn-primary">
                                                                                      <input type="radio" name="options" />2</label>
                                                                                  <label class="btn btn-primary">
                                                                                      <input type="radio" name="options" />3</label>
                                                                                  <label class="btn btn-primary">
                                                                                      <input type="radio" name="options" />3+</label>
                                                                              </div>
                                                                              <select class="form-control hidden">
                                                                                  <option>1</option>
                                                                                  <option>2</option>
                                                                                  <option>3</option>
                                                                                  <option selected="selected">4</option>
                                                                                  <option>5</option>
                                                                                  <option>6</option>
                                                                                  <option>7</option>
                                                                                  <option>8</option>
                                                                                  <option>9</option>
                                                                                  <option>10</option>
                                                                                  <option>11</option>
                                                                                  <option>12</option>
                                                                                  <option>13</option>
                                                                                  <option>14</option>
                                                                              </select>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <button class="btn btn-primary btn-lg" type="submit">Search for Flights</button>
                                      </form>
                                  </div> 
                                  <div class="tab-pane fade in active" id="tab-3">
                                    <h2>Search for Cheap Rentals Cars</h2>
                                    <form (ngSubmit)="getkm(addform)" #addform="ngForm">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <!-- <i class="fa fa-map-marker input-icon"></i>
                                                    <label>Pick-up Location</label>
                                                    <input class="typeahead form-control" placeholder="City, Address" type="text" [(ngModel)]='x' required name="x" id="x" autocorrect="off"
                                                        autocapitalize="off" spellcheck="off" class="form-control" #search /> 
                                                        <label>From</label>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput ngModel required text name="x1" type="text" placeholder="Enter Source" #email_id="ngModel">
                                                             <mat-error *ngIf="email_id.hasError('required')" >Enter Source</mat-error>
                                                             <mat-error *ngIf="email_id.hasError('email_id')" >Enter valid Email Address</mat-error>                    
                                                          </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <!-- <i class="fa fa-map-marker input-icon"></i>
                                                    <label>Drop-off Location</label>
                                                    <input class="typeahead form-control" placeholder="City, Address" type="text" [(ngModel)]='y' required name="y" id="y" autocorrect="off"
                                                        autocapitalize="off" spellcheck="off" class="form-control" #search1 /> -->
                                                        <!-- <label>To</label>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput ngModel required text name="y1" type="text" placeholder="Enter Destination" #email_id1="ngModel">
                                                             <mat-error *ngIf="email_id1.hasError('required')" >Enter Destination</mat-error>
                                                             <mat-error *ngIf="email_id1.hasError('email_id')" >Enter valid Email Address</mat-error>                    
                                                          </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-daterange" data-date-format="M d, D">
                                                    <div class="row">
                                                        <div class="col-md-6"> -->
                                                            <!-- <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                <label>From</label>
                                                                <input class="form-control" name="start" type="text" />
                                                            </div> -->
                                                            <!-- <label>From</label>
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput required [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="d1" name="bod" #bod="ngModel">
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                                            </mat-form-field>

                                                        </div>
                                                        <div class="col-md-6"> -->
                                                            <!-- <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                <label>To</label>
                                                                <input class="form-control" name="end" type="text" />
                                                            </div> -->
                                                            <!-- <label>To</label>
                                                            <mat-form-field class="example-full-width">
                                                                <input matInput required [matDatepicker]="picker1" placeholder="Choose a date" [(ngModel)]="d2" name="bod1" #bod1="ngModel">
                                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                                <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                        <ng-progress></ng-progress>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-lg"  type="submit" [disabled]="!addform.form.valid">Search for Cars</button>
                                    </form>
                                </div> -->
                                  <!-- <div class="tab-pane fade" id="tab-4">
                                      <h2>Search for Cheap Rental Cars</h2>
                                      <form>
                                          <div class="row">
                                              <div class="col-md-8">
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                              <label>Pick-up Location</label>
                                                              <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                                          </div>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                              <label>Drop-off Location</label>
                                                              <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-4">
                                                  <div class="input-daterange" data-date-format="M d, D">
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                  <label>Pick-up Date</label>
                                                                  <input class="form-control" name="start" type="text" />
                                                              </div>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                  <label>Drop-ff Date</label>
                                                                  <input class="form-control" name="end" type="text" />
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
                                      </form>
                                  </div> -->
                                  <!-- <div class="tab-pane fade" id="tab-5">
                                      <h2>Search for Activities</h2>
                                      <form>
                                          <div class="row">
                                              <div class="col-md-8">
                                                  <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                      <label>Where are you going?</label>
                                                      <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="text" />
                                                  </div>
                                              </div>
                                              <div class="col-md-4">
                                                  <div class="input-daterange" data-date-format="M d, D">
                                                      <div class="row">
                                                          <div class="col-md-6">
                                                              <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                  <label>From</label>
                                                                  <input class="form-control" name="start" type="text" />
                                                              </div>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                  <label>To</label>
                                                                  <input class="form-control" name="end" type="text" />
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <button class="btn btn-primary btn-lg" type="submit">Search for Activities</button>
                                      </form>
                                  </div> -->
                              <!-- </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- END TOP AREA  -->

      <!-- <div class="gap"></div>


      <div class="container">
          <div class="text-center row">
              <div class="col-md-8 col-md-offset-2">
                  <div class="row row-wrap" data-gutter="60">
                      <div class="col-md-4">
                          <div class="thumb">
                              <header class="thumb-header"><i class="fa fa-lock box-icon-gray box-icon-center round box-icon-border box-icon-big animate-icon-top-to-bottom"></i>
                              </header>
                              <div class="thumb-caption">
                                  <h5 class="thumb-title"><a class="text-darken" href="#">Trust & Safety</a></h5>
                                  <p class="thumb-desc">Risus id aliquam proin urna mollis dolor interdum morbi natoque</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="thumb">
                              <header class="thumb-header"><i class="fa fa-send box-icon-gray box-icon-center round box-icon-border box-icon-big animate-icon-top-to-bottom"></i>
                              </header>
                              <div class="thumb-caption">
                                  <h5 class="thumb-title"><a class="text-darken" href="#">Best Destinations</a></h5>
                                  <p class="thumb-desc">Imperdiet nec nisl bibendum fames nec nam curae dapibus erat</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="thumb">
                              <header class="thumb-header"><i class="fa fa-thumbs-o-up box-icon-gray box-icon-center round box-icon-border box-icon-big animate-icon-top-to-bottom"></i>
                              </header>
                              <div class="thumb-caption">
                                  <h5 class="thumb-title"><a class="text-darken" href="#">Best Travel Agent</a></h5>
                                  <p class="thumb-desc">In integer posuere velit nascetur tortor cras metus ante elit</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="gap gap-small"></div>
      </div>
      <div class="bg-holder">
          <div class="bg-mask"></div>
          <div class="bg-blur" style="background-image:url(img/lhotel_porto_bay_sao_paulo_lobby_1024x672.jpg);"></div>
          <div class="bg-content">
              <div class="container">
                  <div class="gap gap-big text-center text-white">
                      <h2 class="text-uc mb20">Last Minute Deal</h2>
                      <ul class="icon-list list-inline-block mb0 last-minute-rating">
                          <li><i class="fa fa-star"></i>
                          </li>
                          <li><i class="fa fa-star"></i>
                          </li>
                          <li><i class="fa fa-star"></i>
                          </li>
                          <li><i class="fa fa-star"></i>
                          </li>
                          <li><i class="fa fa-star"></i>
                          </li>
                      </ul>
                      <h5 class="last-minute-title">The Peninsula - New York</h5>
                      <p class="last-minute-date">Fri 14 Mar - Sun 16 Mar</p>
                      <p class="mb20"><b>$120</b> / person</p><a class="btn btn-lg btn-white btn-ghost" href="#">Book Now <i class="fa fa-angle-right"></i></a>
                  </div>
              </div>
          </div>
      </div>




<app-footer></app-footer> -->